* {
    margin: 0;
    padding: 0;
}

.container {
    background-image: url("images/bg-desktop.svg");
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    height: 100vh;
    padding: 0 60px;
    padding-top: 25px;
}

.content {
    display: flex;
    margin-top: 50px;
}

.paragraphs {
    padding-top: 40px;
    margin-left: 40px;
}

h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
    width: 400px;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 460px;
    margin-top: 18px;
    line-height: 1.6;
}

button {
    margin-top: 20px;
    background-color: white;
    border: none;
    padding: 18px 65px;
    border-radius: 30px;
    font-size: 16px;
    color: hsl(257, 40%, 49%);
    font-weight: 600;
    cursor: pointer;
}
button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
    transition: 0.3s;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.fa-brands {
    font-size: 30px;
    margin-left: 15px;
    color: white;
    cursor: pointer;
}

.fa-brands:hover {
    color: hsl(300, 69%, 71%);
    transition: 0.3s;
}